*{
	margin: 0;padding: 0;
}
#tabPic{
	overflow: hidden;height: 225px;
}
#picList{
	margin:0;padding:0;list-style: none;width: 800%;overflow: hidden;	
}
#picList li{float: left;width: 12.5%;height: 225px;}
#picList img{width:100%;height: 225px;}

#picMask{width:100%;height: 25px;position: relative;bottom: 25px;right: 0;background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8),rgba(0,0,0,0));}
#navBar{width: 40%;height: 20px;position: absolute;bottom: 0;right: 0;}
#navBar a{width: 10px;height: 10px;border-radius:5px;background: #fff;opacity: .5;float: left;margin-left: 7px;}
#navBar a.active{opacity: 1;}
/*#maskList{list-style: none;
float: left;}	
#maskList li{
	width: 150px;height: 20px;
}*/
/*#maskList a:nth-child(1){text-decoration: none;font-size: 15px;color: #fff;font-family: "楷体","微软雅黑","宋体";}*/
/*#maskList a:nth-child(2){width: 10px;height: 10px;border-radius: 5px;background: lightslategrey;opacity: 1;float: right;margin: 8px 10px 0 0;}*/
/*#capList ul{list-style: none;}
#capList li{float: left;width: 120px;overflow: hidden;}
#capList a{width:120px;text-decoration: none;color: red;font-size: 1px;}*/
#capList{height: 20px;width: 160px;position: absolute;left: 8px;bottom: 6px;}
#capList a{width:160px;height:15px;text-decoration: none;font-size: 16px; color: #FFFFFF;font-family: "楷体";display: none;margin-left: 10px;margin-bottom: 10px;}
#capList a.show{display: block;}



